@import '../Root/style/variables';
@import '../Root/style/mixins';

$Documentation: '.Documentation';

#{$Documentation} {
    @include blockPaddingHorizontal;

    font-family: map-get($font-family, regular);
    font-size: map-get($font-size, smallplus);
    line-height: map-get($line-height, large);

    h1 {
        margin-bottom: 0.5em;
        font-size: map-get($font-size, aftersemilarge);
    }

    h2 {
        font-size: map-get($font-size, medium);
    }

    h3 {
        margin-bottom: 0.5em;
        font-size: map-get($font-size, premedium);
    }

    h4 {
        margin-bottom: 1em;
        font-size: map-get($font-size, predefault);
    }

    p,
    ul,
    ol,
    pre,
    .DocumentationInfo,
    .DocumentationTable,
    .Notification {
        margin-bottom: 1.5em;

        @include f-last(1) {
            margin-bottom: 0;
        }
    }

    ul,
    ol {
        li {
            margin-bottom: 0.3em;

            @include f-last(1) {
                margin-bottom: 0;
            }
        }
    }

    &__wrapper {
        @include container;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__aside {
        position: relative;
        width: span(4);
        padding-top: 40px;
        box-shadow: 17px 0 17px -17px rgba(map-get($colors, martinique), 0.2);

        @include respond-to('increased') {
            display: none;
        }

        @include print-version {
            display: none;
        }
    }

    &__panel {
        position: fixed;
        max-width: 200px;
    }

    &__title {
        margin-bottom: 1.6em;
    }

    &__list,
    &__item {
        @include list-reset;
    }

    &__list {
        li {
            margin-bottom: 1em !important;

            @include f-last(1) {
                margin-bottom: 0 !important;
            }

            a {
                text-decoration: none;
            }

            h4 {
                font-family: map-get($font-family, regular);
            }
        }
    }

    &__main {
        width: span(11.55);
        padding-top: 54px;

        @include respond-to('increased') {
            width: span(16);
        }
    }
}
