@import '../Root/style/variables';
@import '../Root/style/mixins';

$Hero: '.Hero';

#{$Hero} {
    @include blockPaddingHorizontal;
    @include blockPaddingVertical('', bottom);

    position: relative;
    padding-top: 50px;
    background-color: map-get($colors, persimmon);
    background-image: url(../../assets/images/bg-hero-left.svg), url(../../assets/images/bg-hero-right.svg);
    background-position: calc(50% - 78px) 0, calc(50% + 777px) 0;
    background-repeat: no-repeat, no-repeat;
    overflow: hidden;

    @include respond-to('increased') {
        background: map-get($colors, persimmon);
    }

    &__wrapper {
        @include container;

        position: relative;
        z-index: 1;
    }

    &__columns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    &__data {
        display: flex;
        align-items: center;
        width: span(7);
        //padding-bottom: 72px;

        @include respond-to('increased') {
            width: 100%;
        }

        @include respond-to('prebig') {
            padding-bottom: 40px;
        }
    }

    &__info {
        display: block;
        width: 100%;
    }

    &__graphics {
        position: relative;
        width: span(9);
        height: 502px;

        @include respond-to('increased') {
            width: 100%;
            height: auto;
        }

        @include respond-to('prebig') {
            width: auto;
            margin-left: -45px;
            margin-right: -45px;
        }
    }

    &__image {
        position: absolute;
        width: 1016px;
        height: 502px;
        //top: -82px;
        left: -66px;

        @include respond-to('increased') {
            position: relative;
            width: 100%;
            height: auto;
            top: auto;
            left: auto;
        }

        img {
            margin-bottom: 0;
        }
    }

    &__video {
        position: absolute;
        display: block;
        width: 70%;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include respond-to('increased') {
            top: 48%;
        }
    }

    &__title {
        margin-bottom: 20px;

        @include respond-to('increased') {
            text-align: center;
        }

        @include respond-to('prebig') {
            margin-bottom: 8px;
        }

        h1 {
            color: map-get($colors, white);
        }
    }

    &__subtitle {
        margin-bottom: 68px;

        @include respond-to('increased') {
            margin-bottom: 45px;
            text-align: center;
        }

        h5 {
            font-size: map-get($font-size, medium);
            color: rgba(map-get($colors, white), 0.8);
        }
    }

    &__cta {
        display: flex;

        @include respond-to('increased') {
            justify-content: center;
        }

        @include respond-to('ultrasmall') {
            flex-wrap: wrap;
        }

        .Button {
            margin-right: 20px;

            @include respond-to('ultrasmall') {
                margin: 0 10px 20px;
            }

            @include f-last(1) {
                margin-right: 0;

                @include respond-to('ultrasmall') {
                    margin-right: 10px;
                    margin-bottom: 0;
                }
            }
        }
    }

    &__border {
        position: absolute;
        display: block;
        width: 100%;
        bottom: 0;
        left: 0;

        svg {
            display: block;
            width: 100%;
        }
    }
}
