@import '../Root/style/variables';
@import '../Root/style/mixins';
@import './slick';
@import './slick-theme';

$Reviews: '.Reviews';

#{$Reviews} {
    @include blockPaddingHorizontal;
    @include blockPaddingVertical(top);

    background-color: map-get($colors, white);
    overflow: hidden;

    &__wrapper {
        @include container;
    }

    &__content {
        position: relative;

        * {
            outline: none;
        }
    }

    &__slider {
        border-bottom: 1px solid rgba(map-get($colors, mineShaft), 0.05);

        @include respond-to('prebig') {
            margin-bottom: 30px;
        }
    }

    &__nav {
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        bottom: 65px;
        padding-left: span(2);

        @include respond-to('increased') {
            padding-left: 0;
        }

        @include respond-to('prebig') {
            position: relative;
            display: flex;
            justify-content: center;
            left: auto;
            bottom: auto;
            padding-left: 0;
        }
    }
}
