@import '../Root/style/variables';
@import '../Root/style/mixins';
@import './slick';
@import './slick-theme';

$Reviews: '.Reviews';

#{$Reviews} {
    @include blockPaddingHorizontal;
    @include blockPaddingVertical(top);

    background-color: map-get($colors, white);

    &__wrapper {
        @include container;

        border-bottom: 1px solid rgba(map-get($colors, mineShaft), 0.05);
    }

    &__content {
        position: relative;

        * {
            outline: none;
        }
    }

    &__nav {
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        bottom: 65px;
        padding-left: span(2);
    }
}
