@import '../Root/style/variables';
@import '../Root/style/mixins';

$Steps: '.Steps';

#{$Steps} {
    @include blockPaddingHorizontal;
    @include blockPaddingVertical('', bottom);

    position: relative;
    background-color: map-get($colors, whiteLilac);
    overflow: hidden;

    &__wrapper {
        @include container;
    }

    &__header {
        text-align: center;

        @include headingGap;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__graphics {
        width: span(10);

        @include respond-to('intermediary') {
            width: span(16);
        }
    }

    &__graphicsItem {
        text-align: center;

        #{$Steps} {
            &__navTitle {
                display: none;

                @include respond-to('intermediary') {
                    display: block;
                }
            }

            &__navDescription {
                display: none;

                @include respond-to('intermediary') {
                    display: block;
                }
            }
        }
    }

    &__graphicsImage {
        margin-bottom: 0;
    }

    &__nav {
        width: span(6);

        @include respond-to('intermediary') {
            display: none;
        }
    }

    &__navList,
    &__navItem {
        @include list-reset;
    }

    &__navList {
        margin-bottom: 66px;
        padding-top: 56px;
        counter-reset: navigation;
    }

    &__navItem {
        position: relative;
        margin-bottom: 68px;
        cursor: pointer;
        counter-increment: navigation;

        @include f-last(1) {
            margin-bottom: 0;
        }
    }

    &__navItem_active {
        #{$Steps} {
            &__navButton {
                &::after {
                    color: map-get($colors, persimmon);
                    border-color: map-get($colors, persimmon);
                }
            }

            &__navTitle {
                h3 {
                    color: map-get($colors, persimmon);
                }
            }
        }
    }

    &__navButton {
        position: relative;
        padding-left: 75px;
        font-size: map-get($font-size, smallplus);
        text-align: left;
        cursor: pointer;

        &::after {
            content: counter(navigation);
            position: absolute;
            display: block;
            padding-left: 15px;
            top: -16px;
            left: 3px;
            font-family: map-get($font-family, bold);
            font-size: map-get($font-size, huge);
            line-height: map-get($colors, prelittle);
            color: rgba(map-get($colors, mineShaft), 0.1);
            border-left: 2px solid transparent;
        }
    }

    &__navTitle {
        margin-bottom: 6px;

        h3 {
            color: rgba(map-get($colors, mineShaft), 0.7);
        }
    }

    &__navDescription {
        font-family: map-get($font-family, light);
    }

    &__cta {
        padding-left: 20px;
    }

    &__footer {
        display: none;
        justify-content: center;
        padding-top: 50px;

        @include respond-to('intermediary') {
            display: flex;
        }
    }

    &__border {
        position: absolute;
        display: block;
        width: 100%;
        bottom: 0;
        left: 0;

        svg {
            display: block;
            width: 100%;
        }
    }
}
