@mixin fontFace($fontsList) {
    @each $fontsDir, $fontMap in $fontsList {

        @each $label, $map in $fontMap {

            $fontName: map-get($map, name);
            $fontType: map-get($map, type);

            @font-face {
                font-family: $fontName;
                src: url('#{$fontPath}#{$fontsDir}/#{$fontType}/#{$fontType}.eot');
                src: url('#{$fontPath}#{$fontsDir}/#{$fontType}/#{$fontType}.eot?#iefix') format('embedded-opentype'),
                url('#{$fontPath}#{$fontsDir}/#{$fontType}/#{$fontType}.svg##{$fontName}') format('svg'),
                url('#{$fontPath}#{$fontsDir}/#{$fontType}/#{$fontType}.woff2') format('woff2'),
                url('#{$fontPath}#{$fontsDir}/#{$fontType}/#{$fontType}.woff') format('woff'),
                url('#{$fontPath}#{$fontsDir}/#{$fontType}/#{$fontType}.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
            }

        }

    }
}
