html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    font-weight: 400;
    font-family: map-get($font-family, regular);
    font-size: map-get($font-size, predefault);
    line-height: map-get($line-height, medium);
    color: map-get($colors, midnight);
    -webkit-font-smoothing: antialiased;
}

p,
img,
iframe {
    margin-bottom: 1.3em;
}

img,
iframe {
    position: relative;
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: map-get($font-family, regular);
    color: rgba(map-get($colors, midnight), .9);
}

//h1 {
//    @include heading('h1');
//}
//
//h2 {
//    @include heading('h2');
//}
//
//h3 {
//    @include heading('h3');
//}
//
//h4 {
//    @include heading('h4');
//}
//
//h5 {
//    @include heading('h5');
//}
//
//h6 {
//    @include heading('h6')
//}

a {
    color: map-get($colors, mine-shaft);
    text-decoration: underline;

    &:hover {
        background-color: tint(map-get($colors, brand), 89.7%);
    }
}

ul, ol {
    margin-bottom: 1.3em;

    padding-left: map-get($font-size, default) * map-get($line-height, small);
}

ul li {
    list-style: disc;
    list-style-position: outside;
}

strong {
    font-family: map-get($font-family, bold);
}

i {
    font-family: map-get($font-family, italic);
}
